<div class="flex flex-col flex-auto sm:mb-2">
    <!-- Header -->
    <mat-form-field class="w-1/4 mb-2 mat-fuse-dense">
        <mat-label>Chọn tháng</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date" class="rounded-md">
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="year" (yearSelected)="chosenYearHandler($event, dp)" (monthSelected)="setMonthAndYear($event, dp)" panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>

    <!-- Table container for scroll -->
    <div class="overflow-auto max-h-100">
        <table class="min-w-full table-auto border-collapse bg-white border border-gray-300 shadow-md rounded-lg">
            <thead class="bg-blue-700 text-white text-sm font-semibold uppercase tracking-wider sticky top-0 z-10">
                <tr>
                    <th class="px-4 py-3 border text-center">STT</th>
                    <th class="px-6 py-3 border text-left w-1/4">Nhân viên</th>
                    <!-- Generate headers dynamically -->
                    <th *ngFor="let day of daysInMonth" class="px-2 py-3 border text-center">{{ day }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees; let i = index" (click)="detailChamCong(employee)"
                    class="odd:bg-gray-50 even:bg-gray-100 hover:bg-blue-50 hover:shadow-sm cursor-pointer transition-colors duration-300 ease-in-out">
                    <td class="px-4 py-3 border text-center text-sm font-medium">{{ i + 1 }}</td>
                    <td class="px-6 py-3 border text-left w-1/4 text-sm">{{ employee.fullName }} ({{ '@' + employee.userName }})
                    </td>
                    <!-- Generate cells dynamically -->
                    <td *ngFor="let day of daysInMonth" class="px-2 py-3 border text-center text-sm">{{ employee.days[day - 1] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
